.OtchetBlock{
  width:100%;
  height:947px;
  display: flex;
  .OT_leftBlock{
    width: 75%;
    height:100%;
    background: rgba(156, 183, 235, 0.1);
    overflow: auto;
    display: flex;
    flex-direction: column;
    .NewsProvBlock{
      width:100%;
      height: auto;
      background: rgba(156, 183, 235, 0.1);
      position: relative;
      .infoBlockProv{
        width:100%;
        height: 49px;
        background: linear-gradient(0deg, #EBEBEB 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        border: 1px solid #9CB7EB;
        box-sizing: border-box;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        text-align: left;
        display: flex;
        align-items: center;
        padding-left: 38px;
      }
      .NEWSItem{
        .date{
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #9CB7EB;
          padding: 20px 0 0 42px;
        }
        .text{
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #1B0E3A;
          margin:20px 30px 30px 30px;
        }
      }
    }
    .NewsAgentBlock{
      width:100%;
      height:auto;
      background: rgba(156, 183, 235, 0.1);
      position: relative;
      .infoBlockAgent{
        width:100%;
        height: 49px;
        background: linear-gradient(0deg, #EBEBEB 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        border: 1px solid #9CB7EB;
        box-sizing: border-box;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        text-align: left;
        display: flex;
        align-items: center;
        padding-left: 38px;
      }
      .NEWSItem{
        .date{
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #9CB7EB;
          padding: 20px 0 0 42px;
        }
        .text{
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #1B0E3A;
          margin:20px 30px 30px 30px;
        }
      }
    }
  }
  .OT_rightBlock{
    width:25%;
    height: 100%;
    background-color: white;
    ul{
      width:100%;
      height: auto;
      list-style: none;
      .text{
        font:700 18px/22px normal;
        margin: 27px 0 27px 0;
      }
      li{
        font: 14px/17.5px normal;
        margin: 7px 0 7px 0;
      }
    }
  }
}